body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom right,
    #8a2be2,
    #da70d6,
    #ffb6c1
  ); /* Blue to purple to light pink gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.heading {
  color: #c71585; /* Pinkish purple color for heading */
  font-size: 36px;
  margin-bottom: 20px;
}

.time-card {
  background: linear-gradient(
    to top left,
    #8a2be2,
    #da70d6,
    #ffb6c1
  ); /* Blue to purple to light pink gradient */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  display: inline-block;
  width: 100px;
}

.time-card h2 {
  font-size: 20px;
  color: #c71585; /* Pinkish purple color for headings in cards */
  margin: 0;
}

.time-card p {
  font-size: 18px;
  color: white;
  margin: 5px 0 0;
}

input[type="datetime-local"] {
  padding: 10px;
  border: 2px solid #8a2be2; /* Blue border for inputs */
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background: linear-gradient(
    to bottom right,
    #8a2be2,
    #da70d6,
    #ffb6c1
  ); /* Gradient button background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    to bottom right,
    #9932cc,
    #ff69b4,
    #ffc0cb
  ); /* Hover gradient for button */
}
